﻿<div class="jumbotron">
    <h1>MPI.Base.Api</h1>
    <p class="lead">Este es un proyecto destinado a ser utilizado como base de tu nueva API el cual ya tiene implementado métodos genéricos para Agregar, Editar, Eliminar, Buscar y Contar en cualquier tabla de tu modelo de datos. Esta baasado en ASP.NET Web API 2 y Entity Framework implementando
        los patrones repositorio genérico e inyección de dependencia.</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Documentación</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p style="text-align: justify; text-justify: inter-word">Para empezar deberás clonar el repositorio y borrar la carpeta oculta ".git". Luego deberás renombrar todos los directorios que contengan "MPI.Base.Api" al nombre que corresponda, ejemplo "MPI.Base.Api" => "TuProyecto.Api". 
            Luego deberás renombrar todas las ocurrencias "MPI.Base.Api" en todos los archivos, dentro del directorio raíz clonado, al nombre que corresponda, ejemplo "MPI.Base.Api" => "TuProyecto.Api" (Sugerencia: utilizar Visual Studio Code)</p>
        <p>
            <a class="btn btn-default" href="https://git-scm.com/downloads" target="_blank">Descargar GIT</a>
            <a class="btn btn-default" href="https://code.visualstudio.com/download" target="_blank">Descargar Visual Studio Code</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ejemplo</h2>
        <p>El proyecto cuenta con un modelo de ejemplo donde la temática trata de un inventario de computadoras y sus componentes (procesadores, monitores, memorias, ect); y la ubicación de las mismas en distintos sectores.</p>
        <p>
            <a class="btn btn-default" href="https://drive.google.com/file/d/112G-JwemsKgL_0BwvMmU_JV-L_oJ6A7G/view?usp=sharing" target="_blank" style="margin-bottom: 4px;">Descargar base de datos de ejemplo</a>
            <a class="btn btn-default" href="https://www.getpostman.com/downloads/" target="_blank">Descargar Postman</a>
            <a class="btn btn-default" href="https://www.getpostman.com/collections/4294590d9619d9e6d1f7" target="_blank">Ejemplos Postman</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Por cualquier consulta enviar un mail a <b>edujjalvarez@gmail.com</b></p>
    </div>
</div>
